.main
  .row
    .col.s12.m6.offset-m3
      .card.z-depth-3.hoverable
        .card-content.black-text
          %span.card-title.red-text Blog Title
          %p
          
        .card-action
          %a.red-text{:href => "#" } This is a link
          %a{:href => "#"} This is a link