.back{
  background: url(kinironotoki.jpg) fixed;
  background-size: 100%;
}
.main{
  background-color: rgba(61, 23, 8, 0.295);
  height: 100%;
}
.show-content{
  padding: 20px 40px;
  overflow: scroll;
}
.paginate{
  text-align: center;
  background-color: black;
  
}